// Variables
$color-primary-light: hsl(225, 100%, 94%);
$color-primary-dark: hsl(245, 75%, 52%);
$color-very-pale-blue: hsl(225, 100%, 98%);
$color-desturated-blue: hsl(224, 23%, 55%);
$color-dark-blue: hsl(223, 47%, 23%);
$color-white: #fff;
$color-black: #000;
$card-width-desktop: 45rem;
$card-width-mobile: 30.27rem;

// Mixins
@mixin respond($breakpoint) {
	@if $breakpoint == small-phone {
		@media only screen and (max-width: 18.75em) {
			@content;
		} //300px
	}

	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		} //600px
	}
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		} //900px
	}
	@if $breakpoint == land-regular {
		@media only screen and (max-height: 37.5em) {
			@content;
		} //500px
	}
}

// Reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@include respond(phone) {
		font-size: 41%;
	}

	@include respond(small-phone) {
		font-size: 35%;
	}
}

body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.7;
	overflow-x: hidden;
}
